:root {
  --color-primary: #1a365d;
  --color-secondary: #4a90e2;
  --color-background: #cdcdff;

  --color-accent: #ff9800;
  --color-accent-alt: #4caf50;

  --color-primary-light: #2c5a9e;
  --color-primary-dark: #0c1b2e;
  --color-secondary-light: #7cb1f2;
  --color-secondary-dark: #2870c2;

  --color-text: #333333;
  --color-text-light: #666666;

  --color-success: var(--color-accent-alt);
  --color-error: #f44336;
  --color-warning: #ffc107;
}

* {
  color: var(--color-text);
}

body {
  padding: 0 !important;
  background-color: var(--color-secondary-light) !important;
}

header {
  background-color: var(--color-primary-light) !important;
  border-radius: 20% 32% 54% 72%;
  padding: 0.8em 2em;

}

header p {
  color: var(--color-secondary-light);
}

#bandeiras {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center !important;
  align-items: baseline !important;
  gap: 1rem;
  padding: 0;
}

#bandeiras img {
  padding: 0;
  margin: 0.4em;
  margin-bottom: 0.8em;
  height: 20px;
  width: 30px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

#bandeiras img.selecionada {
  filter: grayscale(0%);
}

#gerador {
  background-color: var(--color-background) !important;
  margin-bottom: 1rem !important;
  border-radius: 16% 16% 8% 8% !important;

}

.anagrama {
  background-color: rgba(0, 0, 0, 0.102);
  padding: 1.2rem 0.6rem;
  border-radius: 0 0 1.2% 1.2%;
}

input {
  text-align: center;
  padding: 1em !important;
  max-width: 100px;
  height: 2.4rem;
}

textarea {
  padding: 8px 8px 8px 24px !important;
  max-height: 500px;
  min-height: 200px;
}

.descricao {
  padding: 1.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.100);
  border-radius: 8% 12% 1% 1%;
  border-bottom: 2px inset var(--color-text-light);
  text-align: justify;
  text-indent: 1.8em;
}

.numero-de-respostas {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: start !important;
  gap: 1rem;
  padding: 1rem;
  padding-top: 1.8rem;
  background-color: rgba(0, 0, 0, 0.102);
  margin: 0 !important;
  border-radius: 16px 88% 0px 0px;
  border-bottom: 2px inset #3333332c;
}

.numero-de-respostas label {
  display: inline-block;
  white-space: normal;
  text-align: center;
  margin-bottom: 0;
}

#filtros {
  display: flex;
  align-items: center !important;
  justify-content: center;
  margin: 0;
  padding: 0 0 1rem 0;
}

.caixa-filtro {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.102);
  margin: 0 !important;
}

.caixa-filtro label {
  display: inline-block;
  width: 62%;
  white-space: normal;
  text-align: center;
  margin-bottom: 0;
}

#resultado {
  background-color: var(--color-accent-alt) !important;
  border-radius: 10% / 50% !important;
  max-width: 300px;
  height: auto;
}

#resultado h2 {
  border-bottom: 1px solid #33333336;
  border-radius: 16px;
  margin: 0.6em 0.2em;
}

#nome-gerado p {
  border-radius: 16px;
  background-color: #3e3f4147;
  margin: 0.6em 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

#final {
  width: 100%;
}

.propaganda {
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 10% / 60%;
  width: 100%;
  min-height: 250px;
  max-height: 280px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.propaganda ins.adsbygoogle {
  display: block !important;
  width: 100% !important;
  height: 250px !important;
  background-color: rgba(0, 0, 0, 0.05);
}

footer {
  background-color: var(--color-primary-dark);
  border-radius: 52% 34% 12% 10%;
  padding: 1.125rem 1.5rem;
}

#indices ul li {
  margin: 0.8em;
}

#indices ul li a {
  color: var(--color-primary-dark);
  font-weight: bold;
  background-color: var(--color-accent);
  border-radius: 20% / 40%;
  padding: 0.4em;
}

footer p {
  color: var(--color-text-light);
}

#contato * {
  font-size: larger !important;
  color: var(--color-accent) !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  flex-wrap: wrap;
}

#contato ul li a img {
  padding: 0;
  margin: 0 0 3px 0;
}

#contato ul {
  gap: 1em;
}

img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

#github {
  width: 56px;
  height: 56px;
}

.container {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.btn-generator {
  position: relative;
  background-color: var(--color-accent) !important;
  border-radius: 110% 110% 100% 100% !important;
  height: 4.4rem;
  width: 10.4rem;
}

.btn-generator p {
  transform: translateY(0.4rem) rotateX(-40deg) !important;
  /* transform: rotateX(-38deg) !important; */
  color: var(--color-primary-dark) !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}

/* Raised button */
.btn-generator {
  position: relative;
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 0 #cc7a00;
  transition: all 0.1s ease;
}

.btn-generator:hover {
  background-color: #ffa21a;
}

.btn-generator:active {
  top: 3px;
  box-shadow: 0 2px 0 #cc7a00;
}

.btn-generator:focus {
  outline: none;
  box-shadow: 0 5px 0 #cc7a00, 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
}

.btn-generator:active:focus {
  box-shadow: 0 2px 0 #cc7a00, 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
}

/* Ensures that the button returns to its initial position */
.btn-generator:not(:active) {
  top: 0;
  box-shadow: 0 5px 0 #cc7a00;
}

@media (max-width: 992px) {
  .caixa-filtro label {
    font-size: 0.85rem;    
  }

  .caixa-filtro input {
    height: 0.9rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    border-radius: 10% 12% 34% 52%;
  }

  .caixa-filtro {
    flex-direction: column !important;
  }

  .caixa-filtro label {
    margin-bottom: 0.15rem;
    width: 100% !important;
    text-align: center;
  }

  .numero-de-respostas {
    border-radius: 16px 64% 2px 2px;
  }

  .anagrama {
    padding-right: 1.5rem !important;
  }

  .btn-radio {
    padding: 0.1rem 0 0.6rem 0;
  }

  #final .row {
    flex-direction: column;
  }

  .propaganda {
    max-width: 320px;
    margin: 0 auto;
  }

  #resultado {
    margin: 20px auto;
    max-width: 320px;
  }

  #indices ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 404px) {
  #contato * {
    font-size: larger !important;
    justify-content: initial !important;
    padding-left: 1.1em;
  }

  .numero-de-respostas {
    border-radius: 16px 28% 2px 2px;
    flex-direction: column !important;
    justify-content: center !important;

  }

  .numero-de-respostas label {
    margin-bottom: 0.15rem;
    width: 100% !important;
    text-align: center;
  }

  footer nav:first-of-type {
    padding-left: 1.8rem;
  }
}

@media (max-width: 348px) {

  footer nav:first-of-type {
    padding-left: 1.8rem;
  }

  .numero-de-respostas {
    border-radius: 16px 16px 2px 2px;
  }

  #contato * a {
    font-size: larger !important;
    justify-content: initial !important;
    padding: 0%;
    margin-left: 1.0em;
  }
}

@media (max-width: 320px) {

  .propaganda,
  #resultado {
    max-width: 100%;
  }
}

/*
ACABEI TIRANDO
*/

/* .btn-radio {
  position: relative;
  padding: 0.6rem 0;
  margin: 0;
  font-size: 1rem;
  border-radius: 4px;
}

.btn-radio label {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: outset var(--color-primary-dark);
  transition: all 0.6s ease;
  cursor: pointer;
}

.btn-radio input[type="radio"]:checked+label {
  background-color: var(--color-secondary-dark) !important;
  color: var(--color-secondary-light);
  border: inset var(--color-secondary-dark);
  transition: all 0.2s ease;

}

.btn-radio label:hover {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary-light) !important;
  border: outset var(--color-primary-dark) !important;
  transition: none !important;
}

.btn-radio input[type="radio"]:checked+label:hover {
  background-color: var(--color-secondary-dark) !important;
  color: var(--color-text-light);
  border: inset var(--color-secondary-dark) !important;
  transition: none;

} */


/* .filtro-desativado {
  opacity: 0.4 !important;
  // Deixa o filtro escurecido
  pointer-events: none;
  // Desativa a interação com o filtro
  filter: brightness(25%);
} */